{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
                            <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- HTML5 Export Buttons table start -->
                                                <div class="card">
                                                    <div class="card-header table-card-header">
                                                        <h5> View All Suppliers</h5>
                                                        <div class="card-header-right">
<div data-v-a2d5948e="" class="col-sm-12 col-md-12">
    <div data-v-a2d5948e="" class="float-md-right mb-3 mb-sm-3 mb-md-0">
        <div data-v-a2d5948e="" class="dropdown d-inline-block btn-dropdown">
            <button data-v-a2d5948e="" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button" class="btn btn-success dropdown-toggle ml-0 mr-2">
                Action
            </button> <div data-v-a2d5948e="" class="dropdown-menu" style=""><a data-v-a2d5948e="" href="#" class="dropdown-item d-flex align-items-center p-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download size-15 mr-2" data-v-a2d5948e=""><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                    Import
                </a> <a data-v-a2d5948e="" href="#" class="dropdown-item d-flex align-items-center p-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload size-15 mr-2" data-v-a2d5948e=""><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                    Export all data
                </a></div></div>
        <a data-v-1ccf87a4="" href="{% url 'supplier_add' %}" class="btn btn-primary" data-v-a2d5948e="">Add Supplier</a></div></div>
                                                </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="stock-tbl" class="table table-striped table-bordered nowrap">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#No</th>
                                                                        <th>Company Name</th>
                                                                        <th>BRN</th>
                                                                        <th>VAT</th>
                                                                        <th>Contact Person</th>
                                                                        <th>Contact Number</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for stock in supplier %}
                                                            <tr>
                                                                    <td></td>
                                                                    <td>{{ stock.name }} </td>
                                                                    <td>{{ stock.brn }} </td>
                                                                    <td>{{ stock.vat }}</td>
                                                                    <td>{{ stock.contact_person }}</td>
                                                                    <td>{{ stock.contact_number }}</td>
                                                                    <td><div class="dropdown dropdown-action" style="width: 159px;">
                                                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="float: left"
                                                                        ><i class="fa fa-ellipsis-v"></i>
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(23px, 27px, 0px);">
                                                                        <a href="{% url 'product_add' %}" class="dropdown-item edit_click">
                                                                        <i class="fa fa-pencil m-r-5"></i>Add Stock </a>
<!--                                                                        <a href="" class="dropdown-item edit_status "><i class="fa fa-pencil m-r-5"></i>Reduce Stock</a>-->
                                                                        <a href="" class="dropdown-item edit_branch_click "><i class="fa fa-pencil m-r-5"></i>Edit Product </a>
                                                                        <button class="delete-product-btn dropdown-item edit_branch_click " data-product-id="{{ stock.id }}"><i class="fa fa-pencil m-r-5"></i>Delete Product </button></div>
                                                                        </div><style>.dropdown-toggle::after{display:none;}</style></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th>#No</th>
                                                                        <th>Company Name</th>
                                                                        <th>BRN</th>
                                                                        <th>VAT</th>
                                                                        <th>Contact Person</th>
                                                                        <th>Contact Number</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- HTML5 Export Buttons end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                        </div>


                                                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
    // JavaScript
    $(document).ready(function () {
        $(".delete-product-btn").click(function () {
            // Get the product ID from the data attribute
            var productId = $(this).data('product-id');
            console.log("Product ID:", productId);  // Add this line

            // Confirm deletion (optional)
            if (confirm("Are you sure you want to delete this product?")) {
                // Make an AJAX request to the delete_product URL
                $.ajax({
                    type: "POST",
                    url: "/delete-product/" + productId + "/",
                    success: function (data) {
                        if (data.success) {
                            // Optionally, update the UI or perform additional actions after successful deletion
                            console.log("Product deleted successfully");
                        } else {
                            // Handle errors and display messages
                            console.log("Error deleting product");
                            // Example: Display errors in an alert
                            alert("Error deleting product");
                        }
                    },
                    error: function (error) {
                        // Handle error
                        console.error("Error deleting product", error);
                    },
                });
            }
        });
    });
</script>
    {% endblock %}
</body>
</html>